Repository Plac3hold3r/MvxScaffolding, pull requests merged in 2018-08, with the labels that each got.

#87 Update solution to allow for iOS iPhone deploy
  MvxScaffolding.sln
  src/Templates/MvxForms/NavigationMenu/MvxFormsTempSolution.sln
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.iOS/MvxFormsTemp.iOS.csproj
  src/Templates/MvxForms/SingleView/MvxFormsTempSolution.sln
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.iOS/MvxFormsTemp.iOS.csproj
  src/Templates/MvxNative/NavigationMenu/MvxNativeSolution.sln
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.iOS/MvxNative.iOS.csproj
  src/Templates/MvxNative/SingleView/MvxNativeSolution.sln
  src/Templates/MvxNative/SingleView/src/MvxNative.iOS/MvxNative.iOS.csproj
Labels: enhancement, template

#88 Update dependencies
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.Droid/MvxFormsTemp.Droid.csproj
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.UI/MvxFormsTemp.UI.csproj
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.UWP/MvxFormsTemp.UWP.csproj
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.iOS/MvxFormsTemp.iOS.csproj
  src/Templates/MvxForms/NavigationMenu/test/MvxFormsTemp.UI.Test/MvxFormsTemp.UI.Test.csproj
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.Droid/MvxFormsTemp.Droid.csproj
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.UI/MvxFormsTemp.UI.csproj
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.UWP/MvxFormsTemp.UWP.csproj
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.iOS/MvxFormsTemp.iOS.csproj
  src/Templates/MvxForms/SingleView/test/MvxFormsTemp.UI.Test/MvxFormsTemp.UI.Test.csproj
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/MvxNative.Droid.csproj
  src/Templates/MvxNative/NavigationMenu/test/MvxNative.Droid.UI.Test/MvxNative.Droid.UI.Test.csproj
  src/Templates/MvxNative/NavigationMenu/test/MvxNative.iOS.UI.Test/MvxNative.iOS.UI.Test.csproj
  src/Templates/MvxNative/SingleView/src/MvxNative.Droid/MvxNative.Droid.csproj
  src/Templates/MvxNative/SingleView/test/MvxNative.Droid.UI.Test/MvxNative.Droid.UI.Test.csproj
  src/Templates/MvxNative/SingleView/test/MvxNative.iOS.UI.Test/MvxNative.iOS.UI.Test.csproj
Labels: enhancement, template

#89 Add missing scaffold type parameter to tracker
  src/MvxScaffolding.Core/Diagnostics/Trackers/TelemetryTracker.cs
Labels: bug, visual studio

#90 New Crowdin translations
  src/MvxScaffolding.Localization/Resources/LocalResources.zh-CN.resx
Labels: localization

#94 Fix native menu template toolbar assignment
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/Views/!Base/BaseActivity.cs
Labels: bug, template

#96 Fix #95 BindingInflate ignores container
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/Views/!Base/BaseFragment.cs
  src/Templates/MvxNative/SingleView/src/MvxNative.Droid/Views/!Base/BaseFragment.cs
Labels: bug

#100 Update support for VS 2017 15.8
  README.md
  docs/nuget_docs.md
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.Droid/MvxFormsTemp.Droid.csproj
  src/Templates/MvxForms/NavigationMenu/test/MvxFormsTemp.Droid.Test/MvxFormsTemp.Droid.Test.csproj
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.Droid/MvxFormsTemp.Droid.csproj
  src/Templates/MvxForms/SingleView/test/MvxFormsTemp.Droid.Test/MvxFormsTemp.Droid.Test.csproj
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/MvxNative.Droid.csproj
  src/Templates/MvxNative/NavigationMenu/test/MvxNative.Droid.Test/MvxNative.Droid.Test.csproj
  src/Templates/MvxNative/SingleView/src/MvxNative.Droid/MvxNative.Droid.csproj
  src/Templates/MvxNative/SingleView/test/MvxNative.Droid.Test/MvxNative.Droid.Test.csproj
Labels: enhancement, template

#101 [WIP] Update for CI building
  MvxScaffolding.sln
  README.md
  appveyor.yml
  src/MvxScaffolding.Core/MvxScaffolding.Core.csproj
  src/MvxScaffolding.Localization/MvxScaffolding.Localization.csproj
  src/MvxScaffolding.UI/MvxScaffolding.UI.csproj
  src/MvxScaffolding.Vsix/MvxScaffolding.Vsix.csproj
  src/MvxScaffolding.Vsix/Targets/MSBuilder.ThisAssembly.Vsix.targets
Labels: enhancement

#102 Fixes for Android
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/Views/Main/MainContainerActivity.cs
Labels: bug, template

#104 Fix missing splash style for devices lower than 19
  src/Templates/MvxForms/NavigationMenu/src/MvxFormsTemp.Droid/Resources/values/styles.xml
  src/Templates/MvxForms/SingleView/src/MvxFormsTemp.Droid/Resources/values/styles.xml
  src/Templates/MvxNative/NavigationMenu/src/MvxNative.Droid/Resources/values/styles.xml
  src/Templates/MvxNative/SingleView/src/MvxNative.Droid/Resources/values/styles.xml
Labels: bug, template
